<h1>File Upload</h1>


<%= form_tag({action: :post_video_to_wistia(picture, datafile)}, multipart: true) do %>
 
<%= file_field 'picture', 'datafile' %></p>
<%= submit_tag "Upload" %>
<% end %>